[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "crimson-tokenizer"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.10"
license = {text = "MIT"}
authors = [{name = "princepsnoctis"}]
dependencies = ["regex"]
